<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iride.app.com.iride">
    <uses-permission android:name="android.permission.BLUETOOTH">
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:permission=""
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".DeviceListActivity"></activity>
        <activity
            android:name=".TarihAralik"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".TarieUcretUpdate"
            android:theme="@style/AppTheme.Popups" />
        <activity android:name=".ViewDatabase" />
        <activity
            android:name=".AdminNameChange"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".PasswordChange"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".AdminPanel"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AdminLogIn"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".Home"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>