<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iride.app.com.iride">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ViewDatabase">

        </activity>
        <activity android:name=".DeleteUser" />
        <activity
            android:name=".AddAdmin"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".AdminNameChange"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".PasswordChange"
            android:theme="@style/AppTheme.Popups" />
        <activity android:name=".AdminPanel"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".AdminLogIn"
            android:theme="@style/AppTheme.Popups" />
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>